@use '../custom' as *;
@use '../components/mixins' as *;

.job-cards {
  .green-heading {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: $green-light;
    font-size: 1.2rem;
  }

  h5 {
    font-weight: 700;
    color: $text-light;
    text-transform: uppercase;
    font-size: 1rem;
  }
}
